{{#block "header"}}

   <!doctype html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta name="viewport"
             content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
       <meta http-equiv="X-UA-Compatible" content="ie=edge">
       <link rel='stylesheet' href='/app.css'>
       <title>{{#block "title"}}Welcome to My Epicodus Blog{{/block}}</title>
       <link rel="stylesheet" href="/css/main.css">
   </head>
   <body>

<ul class="nav nav-tabs">
   <li role="presentation" class="active"><a href="#">Home</a></li>
   <li role="presentation"><a href="/posts">See All Posts</a></li>
   <li role="presentation"><a href="/posts/new">Add a New Post</a></li>
</ul>
<div class="container">
   <!--begin main template-->
   <div class="page-header">
       <img src="/images/city.jpeg" width="70%">
       <h1>Welcome to my Epicodus Blog. <small>A journey into code!</small></h1>
   </div>
{{/block}}

{{!-- <div class="page"> --}}
 <div class="col-md-12">
{{#block "content"}}

{{/block}}
  </div>
   </div>
<!--end main template-->
{{#block "footer"}}

   </body>
   </html>
{{/block}}